.boys-lab-main-container {
	position: absolute;
	top: 5vh;
	display: flex;
	justify-content: center;
}

.boys-lab-container {
	width: 80vw;
	height: 91vh;
	display: flex;
	justify-content: center;
	background-color: white;
	position: relative;
}

/* close-btn style start  */
.boys-lab-container .close-btn-boys-1 {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	display: flex;
	width: fit-content;
	background-color: #d7e2ea;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.boys-lab-container .close-btn-boys-1:hover {
	transform: scale(0.9);
}

.boys-lab-container .close-btn-boys-1:active {
	transform: scale(1.1);
}

.boys-lab-container .close-btn-boys-1 i {
	font-size: 18px;
	transition: all 0.3s;
	color: #d90429;
}

.boys-lab-container .close-btn-boys-1 i:hover {
	transform: rotate(180deg);
}
/* close-btn style end  */

/* seats style start  */
.boys-lab-container .boys-lab-wrapper span {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #0ead69;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	transition: all 0.5s;
	cursor: pointer;
}

.boys-lab-container .boys-lab-wrapper span.active {
	background-color: #d90429;
	color: white;
	font-weight: 600;
}

.boys-lab-container .boys-lab-wrapper span:hover {
	background-color: #1b479e;
	color: white;
}

.boys-lab-container .boys-lab-wrapper span.visibility-none {
	visibility: hidden;
}
/* seats style start  */

/* layout-style start  */
.boys-lab-container .boys-lab-wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	border: 3px solid #a5a5a5;
	border-radius: 10px;
}

/* layout style start  */
.boys-lab-wrapper .layout {
	display: flex;
	flex-grow: 1;
	width: 100%;
	padding: 10px 0 0px 10px;
}

/* layout-1 style start  */
.boys-lab-wrapper #when-layout-1 {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.boys-lab-wrapper #when-layout-1 #entry-gate {
	position: absolute;
	top: -3px;
	right: 38px;
	background-color: white;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 9px;
}

.boys-lab-wrapper #when-layout-1 #entry-gate i {
	font-size: 21px;
}

.boys-lab-wrapper #when-layout-1 #entry-gate p {
	margin: 0;
	padding-left: 30px;
	font-weight: 500;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.boys-lab-wrapper #when-layout-1 #up {
	display: flex;
	width: 93%;
	justify-content: space-between;
	padding-bottom: 10px;
}

.boys-lab-wrapper #when-layout-1 #up #left {
	display: flex;
	justify-content: space-between;
	width: 60%;
}

.boys-lab-wrapper #when-layout-1 #up #right {
	display: flex;
	justify-content: space-evenly;
	width: 40%;
	padding-left: 35px;
	position: relative;
}

.boys-lab-wrapper #when-layout-1 #up #right::after {
	content: "";
	height: 2.6px;
	width: 73%;
	background-color: #a5a5a5;
	position: absolute;
	bottom: -12px;
}

.boys-lab-wrapper #when-layout-1 #down {
	display: flex;
	width: 55.9%;
	justify-content: space-between;
	border-top: 3px solid #a5a5a5;
	padding-top: 10px;
}
/* layout-1 style end  */

/* layout-2 style start  */
.boys-lab-wrapper #when-layout-2 {
	display: flex;
}

.boys-lab-wrapper #when-layout-2 #left {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 0 6.5% 0 3%;
}

.boys-lab-wrapper #when-layout-2 #left #up {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.boys-lab-wrapper #when-layout-2 #left #down {
	display: flex;
	justify-content: space-between;
	border-top: 3px solid #a5a5a5;
	padding-top: 10px;
}

.boys-lab-wrapper #when-layout-2 #right {
	width: 53.5%;
	display: flex;
	flex-direction: column;
	margin-right: 5px;
}

.boys-lab-wrapper #when-layout-2 #right #up {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.boys-lab-wrapper #when-layout-2 #right #up #cabin {
	width: 92px;
	height: 70px;
	margin-top: -35px;
	border: 3px solid #a5a5a5;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}

.boys-lab-wrapper #when-layout-2 #right #up #cabin h6 {
	margin: 0;
	font-size: 18px;
}

.boys-lab-wrapper #when-layout-2 #right #down {
	display: flex;
	justify-content: space-between;
	border-top: 3px solid #a5a5a5;
	padding-top: 10px;
}
/* layout-2 style end */

/* .layout-3 style start  */
.boys-lab-wrapper #when-layout-3 {
	display: flex;

	justify-content: space-between;
}

.boys-lab-wrapper #when-layout-3 #left {
	display: flex;
	flex-direction: column;
	width: 47%;
}

.boys-lab-wrapper #when-layout-3 #left #up {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.boys-lab-wrapper #when-layout-3 #left #down {
	display: flex;
	justify-content: space-between;
	border-top: 3px solid #a5a5a5;
	padding-top: 10px;
}

.boys-lab-wrapper #when-layout-3 #right {
	display: flex;
	flex-direction: column;
	margin-right: 5px;
	width: 47%;
}

.boys-lab-wrapper #when-layout-3 #right #up {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.boys-lab-wrapper #when-layout-3 #right #down {
	display: flex;
	justify-content: space-between;
	border-top: 3px solid #a5a5a5;
	padding-top: 10px;
}
/* .layout-3 style end */

/* layout-4 style start  */

/* layout-4 style end */
.boys-lab-wrapper #when-layout-4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.boys-lab-wrapper #when-layout-4 #down {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	margin-right: 5px;
}

/* layout style end  */
