.pte-1-a-main-container {
	position: absolute;
	top: 5vh;
	display: flex;
	justify-content: center;
}

.pte-1-a-container {
	width: 80vw;
	height: 91vh;
	display: flex;
	justify-content: center;
	background-color: white;
	position: relative;
}

/* close-btn style start  */
.pte-1-a-container .close-btn-girls-1 {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	display: flex;
	width: fit-content;
	background-color: #d7e2ea;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.pte-1-a-container .close-btn-girls-1:hover {
	transform: scale(0.9);
}

.pte-1-a-container .close-btn-girls-1:active {
	transform: scale(1.1);
}

.pte-1-a-container .close-btn-girls-1 i {
	font-size: 18px;
	transition: all 0.3s;
	color: #d90429;
}

.pte-1-a-container .close-btn-girls-1 i:hover {
	transform: rotate(180deg);
}
/* close-btn style end  */

/* entry gate container style start  */
.pte-1-a-container .entry-gate-container {
	position: absolute;
	width: fit-content;
	left: 0;
	top: 44%;
	display: flex;
	align-items: center;
}

.pte-1-a-container .entry-gate-container i {
	font-size: 20px;
}

.pte-1-a-container .entry-gate-container p {
	margin: 0;
	padding-left: 10px;
	font-weight: 500;
}
/* entry gate container style end */

.pte-1-a-container .pte-1-a-wrapper span {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #0ead69;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	transition: all 0.5s;
	cursor: pointer;
}

.pte-1-a-container .pte-1-a-wrapper span.active {
	background-color: #d90429;
	color: white;
	font-weight: 600;
}

.pte-1-a-container .pte-1-a-wrapper span:hover {
	background-color: #1b479e;
	color: white;
}

.pte-1-a-container .pte-1-a-wrapper span.visibility-none {
	visibility: hidden;
}

/* layout-style start  */
.pte-1-a-container .pte-1-a-wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

/* layout style start  */
.pte-1-a-wrapper .layout {
	display: flex;
	flex-grow: 1;
	width: 100%;
	padding: 10px 0 0px 10px;
}

.pte-1-a-wrapper #when-layout-1 {
	border-top: 3px solid #a5a5a5;
	border-right: 3px solid #a5a5a5;
	border-left: 3px solid #a5a5a5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.pte-1-a-wrapper #when-layout-2 {
	border-right: 3px solid #a5a5a5;
}

.pte-1-a-wrapper #when-layout-3 {
	border-right: 3px solid #a5a5a5;
	border-left: 3px solid #a5a5a5;
}

.pte-1-a-wrapper #when-layout-4 {
	border-right: 3px solid #a5a5a5;
	border-left: 3px solid #a5a5a5;
	border-bottom: 3px solid #a5a5a5;
}

.pte-1-a-wrapper .layout .row-container .for-middle-border {
	border-bottom: 3px solid #a5a5a5;
	padding-bottom: 10px;
}

.pte-1-a-wrapper .layout #column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: fit-content;
}

.pte-1-a-wrapper .layout .row-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding: 0 40px;
}

.pte-1-a-wrapper .layout .row-container #row-1 {
	display: flex;
	justify-content: space-between;
}

.pte-1-a-wrapper .layout .row-container #row-2 {
	display: flex;
	justify-content: space-between;
}

.pte-1-a-wrapper .layout #row-container #row-1 {
	display: flex;
	justify-content: space-between;
}
/* layout style end  */
